body {
    font: 10px sans-serif;
}
select {
    display: block;
}

text {
    color: black;
}

.bar {
    fill: darkblue;
    opacity: 0.8;
}

.bar:hover {
    fill:lightblue;
}

.button {
    border: blue;
    background: lightblue;
    font-family: helvetica-neue;
    font-size: 31px;
    border-radius: 40%;
    /*width:100px;*/
     /*height:100px;*/
  float: left;
    margin-left:5px;
}

.button:hover {
background-color: darkblue; /* Green */
color: white;
}

.axis text {
    font-family: helvetica-neue;
    font-size: 31px;
    color: black;
}
.axis path,
.axis text,
.axis line {
    fill: black;
    stroke: black;
    shape-rendering: crispEdges;
}