body {
    font: 10px sans-serif;
}
select {
    display: block;
}

.title {
  margin: 0 0 20px 0;
  fill: #990000;
  stroke: #990000;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: uppercase;
  text-shadow: none;
  word-wrap: break-word;
  font-size: 2.5em;
}

.bar {
    fill: darkblue;
    opacity: 0.8;
}

.bar:hover {
    fill: lightblue;
}

.button {
    border: blue;
    background: lightblue;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: normal;
    text-transform: uppercase;
    border-radius: 40%;
    width:200px;
    height:75px;
    float: left;
    margin-left:50px;
    font-size: 2.5em;
}

.button:hover {
background-color: #000080; /* Green */
color: white;
}

.axis text {
  margin: 0 0 20px 0;
  /*Why not red text?*/
  /*fill: #990000;*/
  /*stroke: #990000;*/
  color: #990000;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: uppercase;
  text-shadow: none;
  word-wrap: break-word;
  font-size: 2.5em;
}

.axis path,
.axis text,
.axis line {
    fill: #000080;
    stroke: #000080;
    shape-rendering: crispEdges;
}