
/* just some content with arbitrary styles for explanation purposes */
.modal {
  position: fixed;
width: 500px;
height: 200px;
top: 50%;
left: 50%;
margin-top: -100px; /* Negative half of height. */
margin-left: -250px; /* Negative half of width. */
text-align: center;
    /*width: 600px;*/
    /*height: 200px;*/
    /*line-height: 100px;*/
    /*position: fixed;*/
    /*top: 50%; */
    /*left: 25%;*/
    /*margin-top: -100px;*/
    /*margin-left: -150px;*/
    /*background-color: #f1c40f;*/
        background-color: rgba(250,218,94,1);
    color: black;
    border-radius: 5px;
    text-align: center;
    z-index: 11; /* 1px higher than the overlay layer */
    /*width:50px;*/
    word-wrap: break-word;
}



div.tooltip { 
    position: absolute;     
    text-align: center;     
    width: 100px;          
    min-height: 50px;         
    max-height: 300px;         
    padding: 2px;       
    font: 12px sans-serif;    
    background: red; 
    /*background: lightsteelblue; */
    color: black;
    border: 0px;    
    border-radius: 8px;     
    pointer-events: none;     
}

.container {
  float: left;
}
.counties {
  fill: none;
}
.states {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
}
.background {
  fill: white;
  stroke: white;
  stroke-linejoin: round;
}

.legend {
  font-size: 12px;
}



#pb {
  position: absolute;
  top: 325px;
  left: 900px;
  background: #f08080;
  padding-right: 26px;
  border-radius: 3px;
  border: none;
  color: white;
  margin: 0;
  padding: 0 12px;
  width: 60px;
  cursor: pointer;
  height: 30px;
}




#charts{
  /*float: left;*/
}


body {
  font-family:"avenir next", Arial, sans-serif;
  font-size: 12px;
  color: #696969;
  float: left;
}


#play-button:hover {
  background-color: #696969;
}    

.ticks {
  font-size: 10px;
}

.track,
.track-inset,
.track-overlay {
  stroke-linecap: round;
}

.track {
  stroke: #000;
  stroke-opacity: 0.3;
  stroke-width: 10px;
}

.track-inset {
  stroke: #dcdcdc;
  stroke-width: 8px;
}

.track-overlay {
  pointer-events: stroke;
  stroke-width: 50px;
  stroke: transparent;
  cursor: crosshair;
}

.handle {
  fill: #fff;
  stroke: #000;
  stroke-opacity: 0.5;
  stroke-width: 1.25px;
    }