div.tooltip { 
    position: absolute;     
    text-align: center;     
    width: 80px;          
    height: 60px;         
    padding: 2px;       
    font: 12px sans-serif;    
    background: lightsteelblue; 
    border: 0px;    
    border-radius: 8px;     
    pointer-events: none;     
}
#maphover.tooltip { 
    position: absolute;     
    text-align: center;     
    width: 60px;          
    height: 60px;         
    padding: 2px;       
    font: 12px sans-serif;    
    background: lightsteelblue; 
    border: 0px;    
    border-radius: 8px;     
    pointer-events: none;  
    font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: normal;
  /*text-transform: uppercase;   */
}
.container {
  float: left;
}
.counties {
  fill: none;
}
.states {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
}
.background {
	fill: white;
  stroke: white;
  stroke-linejoin: round;
}
.title {
	fill: darkblue;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: uppercase;
  text-shadow: none;
  word-wrap: break-word;
}
.legend {
  font-size: 12px;
}